* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --fuenteHeading: 'PT sans',sans-serif;
   /*  --fuenteParrafos: 'Open sans', sans-serif; */
    --colorMain: #ff9000;
    --colorOro: #D0A37C;
    --colorOroOscuro: #7e634c;
    --colorGris: #696969;
    --colorGreen: #025051;
    --fuenteMain: 'Playfair Display',serif;
    --fuenteOld: 'Merriweather', serif;
    --fuenteParrafos: 'Merriweather Sans', sans-serif;
    --colorSecundario: #39374d;
    /* Titulos 25 20  15px  parrafos 20 15 13px */
}
/* Globales */
.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.position-fixed{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.center{
    text-align: center;
}
/* Navegacion sucundario */
.navegation-secondary-bg{
    border-top: 0.5px  var(--colorOro);
    border-bottom: 1px solid var(--colorOro);
    background-color: #ffffff;
}
.navegation-secondary{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 40px;
}
.navegation-secondary__icons{
    display: flex;
}
.navegation-secondary__icons li a i{
    color: var(--colorOro);
    padding: 12px 15px; 
    border-left: 1px solid var(--colorOro)
}
.number-contact__icon{
    display: none;
    color: var(--colorGris);

}

@media (min-width: 857px) {
    .navegation-secondary{
        max-width: 1200px;
        margin: auto;
        width: 90%;
    }
    .number-contact__icons li a i{
        padding: 12px 8px 12px 15px;
    } 
    .number-contact__icon{
        display: inline;
        margin-right: 15px;
        font-size: 14px;
    }
}

/* Navegacion principal */
.navegation-primary-bg{
    background-color: var(--colorGreen);
    transition: 0.5s;
}
.navegation-primary{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.navegation-primary__logo{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: var(--colorOro);
    gap: 8px;
}
.navegation-primary__logo h4{
    font-family: var(--fuenteOld);
}
.navegation-primary__logo img{
    width: 55px;
    height: 55px;
}
.navegation-primary__nav-bar{
    background-color: var(--colorGreen);
    transition: 0.5s;
}
.navegation-primary__nav-bar ul{
    display: flex;
    align-items: center;
    gap: 55px;
}
.navegation-primary__bars{
    display: none;
}
.navegation-primary__nav-bar ul li a{
    color: var(--colorOro);
    font-size: 20px;
    font-family: var(--fuenteOld);
    transition: 0.5s;
}

.navegation-primary__nav-bar ul li a.contacto{
    background-color: var(--colorOro);
    padding: 10px 20px;
    color: #ffffff;
}


/*Hover navegacion */

.navegation-primary__nav-bar ul li a:hover{
    border-bottom: 1px solid var(--colorOro);
}
.navegation-primary__nav-bar ul li a.contacto:hover{
   opacity: 0.6;   
}


@media (max-width: 857px) {
    .navegation-primary__logo h4{
        font-size: 17px;
    }
    .navegation-primary__logo img{
        height: 35px;
        width: 35px;
    }
    .navegation-primary{
        height: 60px;
    }
    .navegation-primary__bars .line{
        height: 3px;
        width: 30px;
        background-color: var(--colorOro);
        margin: 6px 0;
        cursor: pointer;
    }
    .navegation-primary__bars{
        display: block;
    }
    .navegation-primary__nav-bar{
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        height: 0;
        width: 100%;
        background-color: var(--colorGreen);
        transition: 0.5s;
        overflow: hidden;
    }
    .navegation-primary__nav-bar ul{
        display: block;
       /*  width: fit-content; */
        transition: 0.5s;
        margin-left: 25px;
        margin-top: 12px;
        opacity: 0;
    }
    .navegation-primary__nav-bar.show{
        height: 300px;
    }
    .navegation-primary__nav-bar.show ul{
        opacity: 1;
    }
        
    .navegation-primary__nav-bar ul li{
        margin-bottom: 35px;
    }
    .navegation-primary__nav-bar ul li a {
        font-size: 17px;
    }
    .navegation-primary__nav-bar ul li a.contacto {
        display: block;
        color: #ffffff;
        margin-right: 25px;
        padding: 10px 5px;
        background-color: var(--colorOro);
        text-align: center;
    }
}

/* Scroll down */
.down{
    background-color: #ffffff;
}

/* Carousel */
.container-slider{
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.slider{
    display: flex;
    background-color: rebeccapurple;
    width: 400%;
    height: 700px;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    width: 100%;
    height: 100%;
}
.slider__btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;

}
.slider__btn:hover{
    opacity: 1;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--rigth{
    right: 10px;
}

@media (max-width: 857px ) {
    .slider{
        height: 100%;
    }
}

/* Presentación */
.presentation{
    text-align: center; 
}
.presentation__img{
    padding: 130px 0px;
}
.presentation__img img{
    height: 250px;
}
.presentation__title{
    font-family: var(--fuenteOld);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 25px;
    color: var(--colorOro);
}
.presentation__description{
    font-family: var(--fuenteParrafos);
    font-size: 20px;
    color: var(--colorGreen);
}

@media (max-width: 857px) {
    .presentation__img img{
        height: 165px;
    }
    .presentation__img {
        padding: 70px 0px;
    }
    .presentation__title{
        font-size: 17px;
    }
    .presentation__description{
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .presentation__img img{
        height: 145px;
    }
    .presentation__img {
        padding: 50px 0px;
    }
    .presentation__title{
        font-size: 15px;
    }
    .presentation__description{
        font-size: 13px;
    }
}

/* Menu slider */
.menu{
    text-align: center;
    font-size: 25px;
}
.menu h4{
    margin: 50px 0px;
    text-transform: uppercase;
    font-family: var(--fuenteOld);
    color: var(--colorOro);
}
.container-slider-menu{
    max-width: 900px;
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 4px solid #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%)
}

.slider__menu{
    display: flex;
    width: 800%;
    height: 100%;
}
.slider__section--menu{
    width: 100%;
}

@media (max-width: 857px) {
    .menu h4{
        font-size: 17px;
        margin: 40px 0px;
    }
}

@media (max-width: 500px) {
    .menu h4{
        font-size: 15px;
        margin: 30px 0px;
    }
}

/* Menu with prices info*/


.menu-text-info{
    text-align: center;
    margin: 50px 0px;
}
.menu-text__line{
    height: 2px;
    width: 130px;
    background-color: var(--colorOro);
    margin: auto;
    margin-bottom: 30px;
}
.menu-text__title{
    color: var(--colorOro);
    font-size: 25px;
    text-transform: uppercase;
    font-family: var(--fuenteOld);
    margin-bottom: 10px;
}
.menu-text__description{
    color: var(--colorGreen);
    font-size: 20px;
    font-family: var(--fuenteParrafos);
}
.menu-text__btns{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: var(--colorOro);
    border-top: 1px solid var(--colorOro);
    border-bottom: 1px solid var(--colorOro);
    padding: 20px 0px;
}
.menu-text__btns h4{
    font-size: 25px;
    font-family: var(--fuenteOld);
    cursor: pointer ;
}

.btn-active{
    border-bottom: 3px solid var(--colorOro);
}

/* Items price and description */
.menu-text-dishes{
    max-width: 800px;
    margin: 50px auto 0 auto;
}
.dish-content{
    padding: 10px 0px;
    transition: 1s;
}
.dish{
    display: flex;
    justify-content: space-between;
}
.dish h5{
    white-space: nowrap;
    color: var(--colorOroOscuro);
    font-family: var(--fuenteOld);
    font-weight: 400;
    font-size: 25px;
}

.dish__line{
    /* display: table-cell; */
    border-bottom: 1px dashed #999;
    width: 100%;
    height: 3px;
    margin-top: 25px;
}
.dish__description{
    font-size: 20px;
    color: var(--colorGreen);
    font-family: var(--fuenteParrafos);
    width: 85%;
}
.dish .dish__price{
    color: var(--colorOro); 
}

/* Ocultar platos/fondos */
.hide-menu{
    display: none;
}

/* Btn ver completo */

.btn-menu-completo{
    max-width: 800px;
    margin: 20px auto;
}
.btn-menu-completo a{
    background-color: var(--colorOro);
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 8px 8px;
    font-size: 25px;
    transition: 0.2s;
    font-family: var(--fuenteOld);
}
.btn-menu-completo a:hover{
    color: var(--colorOro);
    background-color: var(--colorGreen);
}
@media (max-width: 857px) {
    .menu-text__title{
        font-size: 20px;
        margin-bottom: 7px;
    }
    .menu-text__description{
        font-size: 15px;
    }
    .menu-text-info{
        text-align: center;
        margin: 40px 0px;
    }
    .menu-text__line{
        height: 2px;
        width: 90px;
        margin-bottom: 22px;
    }
    .menu-text__btns{
        gap: 40px;
        padding: 16px 0px;
    }
    .menu-text__btns h4{
        font-size: 20px;
    }
    /* Textos title y description */
    .menu-text-dishes{
        margin: 40px auto 0 auto;
    }
    .dish__line{
        margin-top: 18px;
    }
    .dish h5{
        font-size: 20px;
    }
    .dish__description{
        font-size: 15px;
    }
    .btn-menu-completo a{
        display: block;
        font-size: 20px;
    }
}
@media (max-width: 500px) {
    .menu-text__title{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .menu-text__description{
        font-size: 13px;
    }
    .menu-text-info{
        text-align: center;
        margin: 30px 0px;
    }
    .menu-text__line{
        height: 1px;
        width: 90px;
        margin-bottom: 20px;
    }
    /* Botones menu */
    .menu-text__btns{
        gap: 15px;
        padding: 10px 0px;
    }
    .menu-text__btns h4{
        font-size: 15px;
    }
    /* Textos title y description */
    .menu-text-dishes{
        margin: 30px auto 0 auto;
    }
    .dish__line{
        margin-top: 15px;
    }
    .dish h5{
        font-size: 15px;
    }
    .dish__description{
        font-size: 13px;
    }
    .btn-menu-completo a{
        display: block;
        font-size: 15px;
    }
}

